:root {
    /* Couleurs */
    --primary-color: #333;
    --secondary-color: #4CAF50;
    --text-color: white;

    /* Polices */
    --main-font: Arial, sans-serif;

    /* Tailles */
    --padding-small: 0.5rem;
    --padding-medium: 1rem;
    --padding-large: 2rem;

    /* Autres */
    --border-radius: 4px;
}